/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .container {
    width: 100%;
  }

  .logo {
    width: 40%;
    height: 40%;
  }

  .header-title,
  .header-subtitle,
  .header-cards-title {
    font-size: 25px;
  }

  .btn {
    border-radius: 25px;
    padding: 4%;
    width: 50% !important;
  }

  .margin-10 {
    margin: 10% 0;
  }

  .btn-leaky {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .padding-bottom-20 {
    padding-bottom: 60%;
  }

  .title-box {
    width: 100%;
    margin: 10% 0 !important;
    padding: 15% 0;
  }

  .title {
    font-size: 65px;
  }

  .subtitle {
    font-size: 25px;
  }

  .card {
    margin-top: 5%;
    width: 80% !important;
    padding: 2% !important;
  }

  .card > h1 {
    font-size: 30px;
  }

  .card > p {
    font-size: 20px;
  }

  .section-offer {
    border-radius: 120px 120px 0 0;
    margin-top: -50%;
    padding-bottom: 60%;
  }

  .section-offer > p {
    font-size: 25px;
  }

  .card-offer,
  .card-offer-yellow {
    height: 100% !important;
  }

  .card-offer > h5,
  .card-offer-yellow > h5 {
    font-size: 18px;
  }

  .offer-tag {
    top: -10px !important;
    left: 34%;
    font-size: 22px;
  }

  .offer-title {
    font-size: 40px;
  }

  .list-offer {
    font-size: 20px;
  }

  .offer-anchor > h4,
  .offer-anchor > h3 {
    font-size: 25px;
  }

  .offer-currency {
    font-size: 25px;
  }

  .offer-price {
    font-size: 85px;
  }

  .offer-button > a {
    font-size: 20px;
  }

  .payment-info {
    font-size: 16px;
  }

  .depoiments-area {
    font-size: 20px;
  }

  .depoiment-card {
    display: flex;
    padding: 5%;
    flex-direction: column;
    width: 100%;
  }

  .depoiment-image > img {
    border-radius: 18px;
  }

  .depoiment-name {
    font-size: 50px;
  }

  .depoiment-person-info {
    font-size: 22px;
  }

  .depoiment-data {
    font-size: 20px;
  }

  .depoiment-audio > audio {
    width: 90%;
  }

  .depoiment-audio-title {
    font-size: 25px;
  }

  .bg-logo {
    background-size: 100%;
  }

  .faq-area-title {
    font-size: 22px;
  }

  .width-60 {
    width: 80%;
  }

  .faq-accordion-box-title {
    font-size: 25px;
  }

  .faq-accordion-box > p {
    font-size: 18px;
  }

  .footer {
    border-radius: 120px 120px 0 0;
    margin-top: -50%;
  }

  .footer-logo {
    padding-top: 5%;
    width: 25%;
    height: 25%;
  }

  .footer > div > p {
    font-size: 15px;
  }
}

/* Landscape 

@media only screen

and (min-device-width: 375px)

and (max-device-width: 667px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: landscape) {

} */

/* ----------- Google Pixel ----------- */

/* Portrait */

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape 

@media screen

and (device-width: 360px)

and (device-height: 640px)

and (-webkit-device-pixel-ratio: 3)

and (orientation: landscape) {

} */
